a.action {
  margin: 5px;
  border: 2px solid white;
  background: #111;

}

.info-card h2.title {
    color: #333;
}

.info-card {
  color: black;
  background: white;
  border: 2px solid #ccc;
  padding: 10px 5px 10px 5px;
  margin: 10px 5px 10px 5px;
}
.cost {
    margin-left: 15px;
}

.cs-footer {
  margin-top: 50px;
  text-align: center;
}

.cs-footer a {
  text-decoration: none;
}

.cs-footer a img {
  border: none;
}

body.sm-logo {
  background-image: url(images/logo-sm-tr.png);
  background-repeat: no-repeat;
  background-size: 104px 70px;
  background-position: top right;
}